{% extends "base.html" %}
{% block title %}TEST{% endblock %}
{%block content%}

<div class="container-fluid home-container">
    <div>

      <div class="card mb-3">
        <img class="card-img-top" src="\static\images\pl_banner.jpg" alt="Corn with disease">
        <div class="card-body">
          <h2 class="card-title"><strong>PLANTING TECHNIQUES</strong></h2>

          <br/>

          <h3 class="card-title"><strong>9 BASIC STEPS TOWARDS BOUNTIFUL CORN HARVEST</strong></h3><br/>
          <h3>
            <p style="text-align:justify">&nbsp;&nbsp;&nbsp;High-yielding corn requires moderately well-drained or well-drained soil with a pH above 6.0 as well as timely and skillful management practices. Management practices to consider carefully include planting techniques, hybrid selection, fertilization, and control of insects, weeds, and diseases. Correct management of all these practices is essential for maximum economic yield.</p>
            <p style="text-align:justify">&nbsp;&nbsp;&nbsp;Corn ranks second to rice, not only in terms of area devoted to its production but it has been a staple food of about 20 % of the total population of the Filipinos. Corn may be planted anytime of the year provided there is adequate soil moisture. However, it is best to plant from May to June during the wet season and from October to November during the dry season. The following are the 9 steps towards bountiful corn harvest.</p>
          </h3>

          <br/>

            <div class="row">
              <div class="row justify-content-md-center ">
                <div class="col col-lg-8 contact_title">  
                  <H3>
                      <iframe class="yt-video" width="560" height="315" src="https://www.youtube.com/embed/HQQ8AHOxNdw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </H3>
                </div>
              </div> 
            </div>

          <br/>

          <h3 class="card-title"><p><strong><em>STEP 1. CHOOSING THE APPROPRIATE VARIETY OR HYBRID AND SECURING GOOD QUALITY SEED.</em></strong></p></h3>
            <h3>
              <ul>
                <li style="text-align:justify">In choosing the appropriate variety, consider adaptability to climatic conditions, potential yield, maturity, resistance to insect pests and diseases, and market demand.</li>
                <li style="text-align:justify">Use only high-quality seeds to avoid thinning of seedlings or expensive replanting operations.</li>
              </ul>
            </h3>

          <h3 class="card-title"><p><strong><em>STEP 2. LAND PREPARATION</em></strong></p></h3>
           <h3>
              <ul>
                <li style="text-align:justify">In areas where continuous growing of corn is practiced, plow the field once when the soil moisture condition permits.</li>
                <li style="text-align:justify">Make furrows at the day of planting 75 cm apart at 8 cm depth.</li>
              </ul>
            <h3>

          <h3 class="card-title"><p><strong>Importance of Thorough Land Preparation</strong></p></h3>
            <h3>
              <ol>
                <li style="text-align:justify">Easy in making furrows.</li>
                <li style="text-align:justify">Easy application of fertilizer.</li>
                <li style="text-align:justify">Better anchorage &ndash; deep root penetration and absorption of water and nutrient.</li>
                <li style="text-align:justify">Uniform germination and growth of crop stand.</li>
                <li style="text-align:justify">Easy weed management (off-barring, hilling up and side dressing).</li>
              </ol>
            </h3>

          <h3 class="card-title"><p><strong><em>STEP 3. WATER MANAGEMENT (IN AREAS WHERE IRRIGATION IS AVAILABLE)</em></strong></p></h3>
            <h3>
              <ul>
                <li style="text-align:justify">The conventional method of irrigating corn is by the furrows.</li>
                <li style="text-align:justify">Furrows are first made at planting time and re-established during the hilling-up operation.</li>
                <li style="text-align:justify">The field should be irrigated again at the following critical stages:</li>
              </ul>

              <ol>
                <li style="text-align:justify">4th leaf stage (12-15 days after planting)</li>
                <li style="text-align:justify">25-30 days after planting</li>
                <li style="text-align:justify">40-45 days after planting</li>
                <li style="text-align:justify">55-60 days after planting</li>
                <li style="text-align:justify">70-75 days after planting</li>
              </ol>
            </h3>

          <h3 class="card-title"><p><strong><em>STEP 4. FERTILIZATION</em></strong></p></h3>
            <h3>
              <ul>
                <li style="text-align:justify">Determine the fertilizer group appropriate to your province/locality.</li>
                <li style="text-align:justify">For option 1 and 2 combination of inorganic and organic fertilizers.</li>
              </ul>

              <ol>
                <li style="text-align:justify">Evenly apply in band organic fertilizer along the furrows at planting time.</li>
                <li style="text-align:justify">Do the same for the inorganic fertilizer and the additional nitrogen fertilizer.</li>
                <li style="text-align:justify">Cover the fertilizer with a 2 cm layer of soil prior to planting.</li>
              </ol>

              <ul>
                <li style="text-align:justify"><strong>The second split of nitrogen is applied as follows:</strong></li>
              </ul>

              <ol>
                <li style="text-align:justify">For clayey soils, apply at 25-30 days after planting or during the hilling-up operation.</li>
                <li style="text-align:justify">For sandy and loamy soils, apply one half during hilling-up operation and one half at 45 days after planting.</li>
              </ol>
            </h3>

          <h3 class="card-title"><p><strong><em>STEP 5. PLANTING</em></strong></p></h3>
            <h3>
              <ul>
                <li style="text-align:justify">For hybrids, plant 1-2 seeds/hill spaced 20 cm apart. Some hybrids with erect leaves can tolerate closer spacing of up to 15 cm.</li>
                <li style="text-align:justify">For Open Pollinated Varieties (OPV), plant at 25 cm or farther between hills.</li>
                <li style="text-align:justify">Use mechanical planters when available for more uniform depth of planting and emergence.</li>
                <li style="text-align:justify">To minimize pest and disease problems, plant at most the same period (synchronous planting) as farmers nearby to minimize pest and disease problems.</li>
              </ul>
            </h3>

          <h3 class="card-title"><p><strong><em>STEP 6. THINNING, CULTIVATION, AND PEST MANAGEMENT (7-20 DAP)</em></strong></p></h3>
            <h3>
              <ul>
                <li style="text-align:justify">Monitor pest damage and/or pest populations as well as the presence of natural enemies on a weekly interval starting from 3 days after emergence.</li>
                <li style="text-align:justify">Do shallow cultivation or off-barring at 14 days after planting (DAP) to control weeds. Care should be taken not to damage the plants during the process.</li>
                <li style="text-align:justify">If the number of growing plants is beyond the expected, uproot the excess ones carefully (14-20 days after planting).</li>
              </ul>
            </h3>

          <h3 class="card-title"><p><strong><em>STEP 7. SIDEDRESSING, HILLING-UP AND PEST MANAGEMENT (20-40 DAP)</em></strong></p></h3>
            <h3>
              <ul>
                <li style="text-align:justify">Apply the remaining amount of recommended nitrogenous fertilizer (urea, ammonium fertilizers, etc.) in straight band along the furrows about 6 cm away from the plants (side dressing).</li>
                <li style="text-align:justify">Cover the fertilizer immediately after application by hilling-up at the original furrow depth.</li>
                <li style="text-align:justify">Continuously monitor the pests and natural enemy populations weekly.</li>
              </ul>
            </h3>

          <h3 class="card-title"><p><strong><em>STEP 8. CROP CARE AND MAINTENANCE (FLOWERING UNTIL JUST BEFORE HARVEST OR 41-95 DAP)</em></strong></p></h3>
            <h3>
              <ul>
                <li style="text-align:justify">Continuously monitor the crop even from seedling stage and immediately remove and burn those with unusual signs like chlorotic steaks, mosaic, rot, etc. If the scale is epidemic, notify your technician at once.</li>
                <li style="text-align:justify">Follow up on the previous soil cultivation activity with spot weeding to control weeds. Take care not to injure the plants.</li>
                <li style="text-align:justify">Depot (removal of the stalk above the ear, practiced in corn-after-rice areas for cattle feeding purposes) only after physiological maturity or black layer stage (about 80-85 DAP). Otherwise, your yield will suffer.</li>
              </ul>
            </h3>

          <h3 class="card-title"><p><strong>STEP 9. HARVESTING (95-110 DAP) AND POST HARVEST OPERATIONS</strong></p></h3>
            <h3>
              <ul>
                <li style="text-align:justify">Harvest at the appropriate stage depending on the maturity of your variety or hybrid (90-95 days for early and 105-110 days for full season).</li>
                <li style="text-align:justify">Corn is ready for harvesting when black layer develops at grains&rsquo; point of attachment to cob, kernels are glazed, and the leaves and husks are dry.</li>
                <li style="text-align:justify">After harvest, promptly dry the ears to 18% moisture content for efficient shelling. This can be done through sundrying for 2-3 days or mechanical drying for 6-8 hours.</li>
                <li style="text-align:justify">Dry the shelled grains further to 14% moisture content for better storage.</li>
                <li style="text-align:justify">Provide dry and sanitary conditions in all phases of grain processing, transport and storage to prevent the growth of mycotoxin producing fungi.</li>
                <li style="text-align:justify">If corn weevil is a problem in storage, spray or dip the sacks in insecticide solution and dry them before filling.</li>
                <li style="text-align:justify">Corn grains with 14% moisture content, 97% purity, 3% immature seeds, and not more than 5% damage are considered to be of good quality in the grain trade and therefore command a higher price.</li>
              </ul>
            </h3>

          <h7>
            <p><strong>REFERENCE</strong></p>
            <p><a href="https://ati.da.gov.ph/ati-car/sites/default/files/9_Basic_Steps_Towards_A_Bountiful_Corn_Harvest.pdf"><strong>https://ati.da.gov.ph/ati-car/sites/default/files/9_Basic_Steps_Towards_A_Bountiful_Corn_Harvest.pdf</strong></a></p>
          </h7>

        </div>
      </div>

        <!--<div class="card">
            <div class="card-body">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-6 contact_title">
                        <H1>
                            <strong>PLANTING TECHNIQUES</strong>
                        </H1>        
                    </div>
                </div>

                <br/>
                
                 <div class="row justify-content-md-center ">
                    <h3 class="card-title">
                        <p><strong>9 BASIC STEPS TOWARDS BOUNTIFUL CORN HARVEST</strong></p>
                    </H3>
                    
                   <div class="col col-lg-8 contact_title">
                        
                        <H3>
                            <iframe class="yt-video" width="560" height="315" src="https://www.youtube.com/embed/HQQ8AHOxNdw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </H3>
                    </div>
                </div>

                <br/>

              <div class="row">
                <div class="col">
                  
                  <H3>
                    <p><strong>9 BASIC STEPS TOWARDS BOUNTIFUL CORN HARVEST</strong></p>
                  </H3>

                  <H3>
                    <p>High-yielding corn requires moderately well-drained or well-drained soil with a pH above 6.0 as well as timely and skillful management practices. Management practices to consider carefully include planting techniques, hybrid selection, fertilization, and control of insects, weeds, and diseases. Correct management of all these practices is essential for maximum economic yield.</p>
                    <p>Corn ranks second to rice, not only in terms of area devoted to its production but it has been a staple food of about 20 % of the total population of the Filipinos. Corn may be planted anytime of the year provided there is adequate soil moisture. However, it is best to plant from May to June during the wet season and from October to November during the dry season. The following are the 9 steps towards bountiful corn harvest.</p>
                    
                    <br/>

                    <div class="row justify-content-md-center ">
                      <div class="col col-lg-8 contact_title">  
                        <H3>
                            <iframe class="yt-video" width="560" height="315" src="https://www.youtube.com/embed/HQQ8AHOxNdw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </H3>
                      </div>
                    </div>  

                    <br/>

                    <p><strong><em>STEP 1. CHOOSING THE APPROPRIATE VARIETY OR HYBRID AND SECURING GOOD QUALITY SEED.</em></strong></p>
                    <ul>
                    <li>In choosing the appropriate variety, consider adaptability to climatic conditions, potential yield, maturity, resistance to insect pests and diseases, and market demand.</li>
                    <li>Use only high-quality seeds to avoid thinning of seedlings or expensive replanting operations.</li>
                    </ul>
                    <p><strong><em>STEP 2. LAND PREPARATION</em></strong></p>
                    <ul>
                    <li>In areas where continuous growing of corn is practiced, plow the field once when the soil moisture condition permits.</li>
                    <li>Make furrows at the day of planting 75 cm apart at 8 cm depth.</li>
                    </ul>
                    <p><strong>Importance of Thorough Land Preparation</strong></p>
                    <ol>
                    <li>Easy in making furrows.</li>
                    <li>Easy application of fertilizer.</li>
                    <li>Better anchorage &ndash; deep root penetration and absorption of water and nutrient.</li>
                    <li>Uniform germination and growth of crop stand.</li>
                    <li>Easy weed management (off-barring, hilling up and side dressing).</li>
                    </ol>
                    <p><strong><em>STEP 3. WATER MANAGEMENT (IN AREAS WHERE IRRIGATION IS AVAILABLE)</em></strong></p>
                    <ul>
                    <li>The conventional method of irrigating corn is by the furrows.</li>
                    <li>Furrows are first made at planting time and re-established during the hilling-up operation.</li>
                    <li>The field should be irrigated again at the following critical stages:</li>
                    </ul>
                    <ol>
                    <li>4th leaf stage (12-15 days after planting)</li>
                    <li>25-30 days after planting</li>
                    <li>40-45 days after planting</li>
                    <li>55-60 days after planting</li>
                    <li>70-75 days after planting</li>
                    </ol>
                    <p><strong><em>STEP 4. FERTILIZATION</em></strong></p>
                    <ul>
                    <li>Determine the fertilizer group appropriate to your province/locality.</li>
                    <li>For option 1 and 2 combination of inorganic and organic fertilizers.</li>
                    </ul>
                    <ol>
                    <li>Evenly apply in band organic fertilizer along the furrows at planting time.</li>
                    <li>Do the same for the inorganic fertilizer and the additional nitrogen fertilizer.</li>
                    <li>Cover the fertilizer with a 2 cm layer of soil prior to planting.</li>
                    </ol>
                    <ul>
                    <li><strong>The second split of nitrogen is applied as follows:</strong></li>
                    </ul>
                    <ol>
                    <li>For clayey soils, apply at 25-30 days after planting or during the hilling-up operation.</li>
                    <li>For sandy and loamy soils, apply one half during hilling-up operation and one half at 45 days after planting.</li>
                    </ol>
                    <p><strong><em>STEP 5. PLANTING</em></strong></p>
                    <ul>
                    <li>For hybrids, plant 1-2 seeds/hill spaced 20 cm apart. Some hybrids with erect leaves can tolerate closer spacing of up to 15 cm.</li>
                    <li>For Open Pollinated Varieties (OPV), plant at 25 cm or farther between hills.</li>
                    <li>Use mechanical planters when available for more uniform depth of planting and emergence.</li>
                    <li>To minimize pest and disease problems, plant at most the same period (synchronous planting) as farmers nearby to minimize pest and disease problems.</li>
                    </ul>
                    <p><strong><em>STEP 6. THINNING, CULTIVATION, AND PEST MANAGEMENT (7-20 DAP)</em></strong></p>
                    <ul>
                    <li>Monitor pest damage and/or pest populations as well as the presence of natural enemies on a weekly interval starting from 3 days after emergence.</li>
                    <li>Do shallow cultivation or off-barring at 14 days after planting (DAP) to control weeds. Care should be taken not to damage the plants during the process.</li>
                    <li>If the number of growing plants is beyond the expected, uproot the excess ones carefully (14-20 days after planting).</li>
                    </ul>
                    <p><strong><em>STEP 7. SIDEDRESSING, HILLING-UP AND PEST MANAGEMENT (20-40 DAP)</em></strong></p>
                    <ul>
                    <li>Apply the remaining amount of recommended nitrogenous fertilizer (urea, ammonium fertilizers, etc.) in straight band along the furrows about 6 cm away from the plants (side dressing).</li>
                    <li>Cover the fertilizer immediately after application by hilling-up at the original furrow depth.</li>
                    <li>Continuously monitor the pests and natural enemy populations weekly.</li>
                    </ul>
                    <p><strong><em>STEP 8. CROP CARE AND MAINTENANCE (FLOWERING UNTIL JUST BEFORE HARVEST OR 41-95 DAP)</em></strong></p>
                    <ul>
                    <li>Continuously monitor the crop even from seedling stage and immediately remove and burn those with unusual signs like chlorotic steaks, mosaic, rot, etc. If the scale is epidemic, notify your technician at once.</li>
                    <li>Follow up on the previous soil cultivation activity with spot weeding to control weeds. Take care not to injure the plants.</li>
                    <li>Depot (removal of the stalk above the ear, practiced in corn-after-rice areas for cattle feeding purposes) only after physiological maturity or black layer stage (about 80-85 DAP). Otherwise, your yield will suffer.</li>
                    </ul>
                    <p><strong>STEP 9. HARVESTING (95-110 DAP) AND POST HARVEST OPERATIONS</strong></p>
                    <ul>
                    <li>Harvest at the appropriate stage depending on the maturity of your variety or hybrid (90-95 days for early and 105-110 days for full season).</li>
                    <li>Corn is ready for harvesting when black layer develops at grains&rsquo; point of attachment to cob, kernels are glazed, and the leaves and husks are dry.</li>
                    <li>After harvest, promptly dry the ears to 18% moisture content for efficient shelling. This can be done through sundrying for 2-3 days or mechanical drying for 6-8 hours.</li>
                    <li>Dry the shelled grains further to 14% moisture content for better storage.</li>
                    <li>Provide dry and sanitary conditions in all phases of grain processing, transport and storage to prevent the growth of mycotoxin producing fungi.</li>
                    <li>If corn weevil is a problem in storage, spray or dip the sacks in insecticide solution and dry them before filling.</li>
                    <li>Corn grains with 14% moisture content, 97% purity, 3% immature seeds, and not more than 5% damage are considered to be of good quality in the grain trade and therefore command a higher price.</li>
                    </ul>
                    
                  </H3>

                  <H7>
                    <p><strong>REFERENCE</strong></p>
                    <p><a href="https://ati.da.gov.ph/ati-car/sites/default/files/9_Basic_Steps_Towards_A_Bountiful_Corn_Harvest.pdf"><strong>https://ati.da.gov.ph/ati-car/sites/default/files/9_Basic_Steps_Towards_A_Bountiful_Corn_Harvest.pdf</strong></a></p>
                  </H7>
                </div>
              </div>
            </div>
          </div>-->
        
        


        
    </div>
</div>
{%endblock%}
